
.players-gallery{
  
  width: 100%;
 
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(171,171,171,1) 100%);
  
 }
 
 .card-gallery{
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
 }
 
 .player-pic{
  width: 100%;
  border: 1.5px solid #ccc;
  padding: 1rem;
  margin: 2% 1.5%;
  flex-grow: 0;
  background-color: #ecf0f1f6;
 }
 
 .player-pic img{
  max-width: 100%;
  margin: 0 auto;
 }
 
 .player-pic:hover{
  box-shadow: 0 1px 5rem rgba(0,0,0,0.5);
  transform: scale(1.2);
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
 }
 
 .player-pic p{
  padding: 0.4rem;
 }




@media screen and (min-width: 800px) {
  .player-pic{
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .player-pic{
    width: 29%;
  }
}


 /*@media (max-width: 900px){
  .player-pic{
   width: 45%;
  }
    .card-gallery{
     padding: 10vh 1vh;
   }
 }
 
 @media (max-width: 600px){
  .player-pic{
   width: 50%;
  }
 }*/