.listing {
	padding: 0;
	margin:0;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    background:rgb(30, 30, 30);
   

	li {
		display: block;
		list-style: none outside;
        flex: 0 0 31%;
        
	}

	a {
		display: block;
		background: rgb(214, 214, 214);
		border-radius: 0.3em;
		color: #333;
		text-decoration: none;
		padding: 1rem 1.5rem;
		position: relative;
		margin:0.5rem 1rem;
		
		box-shadow: 0 0 1rem 0 rgba(#000,0.2);
		
		&:before {
			display: block;
			content: '';
			border-radius: 0.3em;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			opacity: 0;
			transition: opacity 0.3s ease-in;
			box-shadow: 0 0 5rem 0.9rem rgba(rgb(255, 35, 15),0.4);
		}

		&:hover {
			background: #333;
			color: #FFF;
			
			&:before {
				opacity: 1;
			}
		}

		& span {
			display: block;
		}

		& .title {
			font-weight: bold;
			font-size: 1.2rem;
			padding-bottom: 4rem;
		}
	}
}
body.trymp,
body.eurosport,
body.draw,
body.selby,
body.higgins,
body.murphy
{
	background-color: #d3d3d3;
	

  .site-content {
    padding: 2rem 1rem;	
	max-width: 60rem;
	margin:0 auto;
	.left{
		float: left;
		width:50%;
		height: auto;
		margin: 0 1.5em .5em 0;
	}
	.right{
		float: right;
		width:50%;
		height: auto;
		margin: 0 0 .5em 1.5em;
	}
	h3{
		padding-bottom: 2rem;
	}
    
  }  
}