.navigation {
	align-self: center;
	ul {	
		padding: 0.8rem 0;
		border-radius: 0.3rem;
		margin: 0;
		background:rgb(30, 30, 30);    
	}
	ul li {
		display: block;
		list-style: none outside;
		position: relative;
	}
	ul li a {
		display: block;
		padding: 0.5rem 1rem;
		border-radius: 0.4rem;
		text-decoration: none;
		border-bottom: solid transparent;
		border-width:2px 0;
		color: white;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
}

.navigation > ul > li {
	padding: 0 0.5rem 0 0;
}
.navigation ul li a:hover,
.navigation ul li:hover > a {
	color: red;
	border-color:red;
}

#main-nav-toggle,
#toggle {
	display: none;
}

#toggle {
	position: relative;
	flex: 0 0 auto;
	align-items: center;
	align-content: center;
	justify-content: center;
    padding: 1rem 0;
    animation: navtoggleanimation 0.5s 1 ease-in-out forwards;
}
toggle .fas{
	display:inline-block;
	margin-right: 0.5rem;
}
#toggle .fas.fa-times{
	display: none;
}
.navigation ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
  .navigation ul li a:hover:after {
    animation: circle 0.3s ease-in forwards;
  }


@media screen and (max-width: 1000px) {
    .wrapper{
        display: flex;
        justify-content: space-between;
       
    }
    
	#toggle {
        display: flex;
        padding-right: 2rem;
        font-size:1.5rem;
		
	}

	.navigation {
		display: none;
		border-top: 2px solid #000;
		margin-top:1rem;
	}
	.navigation ul li a {
		text-align: center;
	}

	.navigation ul li:not(:first-child) {
		padding-top: 0.5rem;
	}

	#main-nav-toggle:checked + header .navigation {
        
		display: block;
		flex: 1 0 100%;
    }


	#main-nav-toggle:checked + header #toggle .fa-times {
		display:block;
	}
	#main-nav-toggle:checked + header #toggle .fa-bars {
		display:none;
	}

}

@media screen and (min-width: 1001px) {
    .site-header{
        display: flex;
        justify-content: space-between;
    }
	.navigation ul {
		display: flex;
	}

	.navigation ul li:hover > ul {
		display: block;
	}
}







