
/* scss for player.html */
.players-gallery{  
  width: 100%; 
  background: var(--background-gradient, grey);
 }
 .card-gallery{
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
 } 
 .player-pic{
  width: 100%;
  border: 1.5px solid #ccc;
  padding: 1rem;
  margin: 2% 1.5%;
  flex-grow: 0;
  background-color: #ecf0f1f6;
    img{
      max-width: 100%;
      margin: 0 auto;
    }
    &:hover{
      box-shadow: 0 1px 5rem rgba(0,0,0,0.5);
      transform: scale(1.2);
      border: none;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      z-index: 1;
    }
    .player-name{
      padding: 0.4rem;
      font-weight: bold;
      
    }
 }
@media screen and (min-width: 800px) {
  .player-pic{
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .player-pic{
    width: 29%;
  }
}

