.site-header{
 background: rgb(20, 20, 20);
 color:red;
 padding:3rem 0;
    p {
    padding: 0;
    margin: 0;
    }
}
.site-branding{ 
    margin:0;
    padding:0;
}
.site-title{
    font-size:2em;
}
.site-description{
    font-style: italic;
    letter-spacing: 0.03em;
}