:root{
    --font-size-initial: 12px;
    --font-size-lv2: 14px;
    --font-size-lv3: 16px;
    --font-size-lv4: 18px;
    --background-gradient:linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(171,171,171,1) 100%);
    --spacing-site: 1rem;
    --color-theme:rgb(20, 20, 20);
    --color-text-main:#000;
    --max-width:60rem;
}