<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle">
<header class="site-header">
        <div class="wrapper">
        <div class="site-branding">            
            <p class="site-title"><a href="{{site.baseurl}}/"> {{site.title}}</p></a>
            <p class="site-description">{{site.description}}</p>

        </div>
        <label for="main-nav-toggle" id="toggle">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>            
        </label>
    </div>

        <nav class="navigation">
            <ul>
                <li><a href="{{site.baseurl}}/">HOME</a></li>                
                <li><a href="{{site.baseurl}}/live/">LIVE SCORES</a></li>                
                <li><a href="{{site.baseurl}}/rankings/">RANKINGS</a></li>
                <li><a href="{{site.baseurl}}/records/">RECORDS</a></li>
                <li><a href="{{site.baseurl}}/players/">PLAYERS</a></li>
                <li><a href="{{site.baseurl}}/rules/">RULES</a></li>
                <li><a href="{{site.baseurl}}/facts/">FACTS</a></li>
                <li><a href="{{site.baseurl}}/gallery/">GALLERY</a></li>
                <li><a href="{{site.baseurl}}/login/">LOGIN</a></li>
                                    
            </ul>



        </nav>


    </header>