<header class="site-header">
        <div class="site-branding">
            
            <p class="site-title">{{site.title}}</p>
            <p class="site-description">{{site.description}}</p>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="{{site.baseurl}}/index/">HOME</a></li>                
                <li><a href="{{site.baseurl}}/live/">LIVE SCORES</a></li>                
                <li><a href="{{site.baseurl}}/rankings/">RANKINGS</a></li>
                <li><a href="{{site.baseurl}}/records/">RECORDS</a></li>
                <li><a href="{{site.baseurl}}/gallery/">GALLERY</a></li>
                <li><a href="{{site.baseurl}}/rules/">RULES</a></li>
                <li><a href="{{site.baseurl}}/login/">JOIN US</a></li>
                                    
            </ul>



        </nav>


    </header>